# Build artifacts
obj/
bin/

# Editor
*.swp
*.swo
*~
.cache/
.idea/

# Compile / package
*.o
*.so
*.deb
*.ddeb
*.buildinfo
*.changes
*.tar.gz
build/
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.log
debian/zbd*/
debian/zbd.*.debhelper
debian/debhelper-build-stamp

# Tests / coverage
*.gcno
*.gcda
*.gcov
coverage/

# Local/Personal
.local/
TODO.local
